<header class="app-bar promote-layer">
	<div class="app-bar-container">
		<button class="menu" ng-click="toggleMenu()"><img src="assets/images/hamburger.svg" alt="Menu"></button>
		<h1 class="logo">Pandemic</h1>
		<section class="app-bar-actions">
			<!-- Put App Bar Buttons Here -->
		</section>
	</div>
</header>

<nav class="navdrawer-container promote-layer" ng-click="closeMenu()">
	<h4>Navigation</h4>
	<ul>
		<li><a ui-sref="main()">Game</a></li>
		<li><a ui-sref="about()">About</a></li>
	</ul>
</nav>